# 当我们需要构建时间段的时候（缺失某天的数据集）
### freq=“2D”是间隔两天，freq="6H"则为间隔6小时，freq="M"间隔以月为单位

In [32]:
import pandas as pd
t1 = pd.date_range("2019-12-08", "2020-01-01", freq="D")

In [33]:
t1

DatetimeIndex(['2019-12-08', '2019-12-09', '2019-12-10', '2019-12-11',
               '2019-12-12', '2019-12-13', '2019-12-14', '2019-12-15',
               '2019-12-16', '2019-12-17', '2019-12-18', '2019-12-19',
               '2019-12-20', '2019-12-21', '2019-12-22', '2019-12-23',
               '2019-12-24', '2019-12-25', '2019-12-26', '2019-12-27',
               '2019-12-28', '2019-12-29', '2019-12-30', '2019-12-31',
               '2020-01-01'],
              dtype='datetime64[ns]', freq='D')

In [34]:
t3 = pd.DataFrame()
t3["time"] = t1

In [35]:
t3["time"]

0    2019-12-08
1    2019-12-09
2    2019-12-10
3    2019-12-11
4    2019-12-12
5    2019-12-13
6    2019-12-14
7    2019-12-15
8    2019-12-16
9    2019-12-17
10   2019-12-18
11   2019-12-19
12   2019-12-20
13   2019-12-21
14   2019-12-22
15   2019-12-23
16   2019-12-24
17   2019-12-25
18   2019-12-26
19   2019-12-27
20   2019-12-28
21   2019-12-29
22   2019-12-30
23   2019-12-31
24   2020-01-01
Name: time, dtype: datetime64[ns]

缺失的时间对应的数据补0就行

In [36]:
T = pd.date_range("2019-12-06", "2019-12-31", freq="W-MON")
T

DatetimeIndex(['2019-12-09', '2019-12-16', '2019-12-23', '2019-12-30'], dtype='datetime64[ns]', freq='W-MON')

# Rolling滑窗

In [37]:
import numpy as np
import pandas as pd

In [39]:
index = pd.date_range("2019-12-01", periods=14)
index

DatetimeIndex(['2019-12-01', '2019-12-02', '2019-12-03', '2019-12-04',
               '2019-12-05', '2019-12-06', '2019-12-07', '2019-12-08',
               '2019-12-09', '2019-12-10', '2019-12-11', '2019-12-12',
               '2019-12-13', '2019-12-14'],
              dtype='datetime64[ns]', freq='D')

In [40]:
data = pd.DataFrame(np.arange(len(index)), index=index, columns=["test"])
data.head()

            test
2019-12-01     0
2019-12-02     1
2019-12-03     2
2019-12-04     3
2019-12-05     4

In [41]:
data["sum"] = data.test.rolling(3).sum()  # rolling划分3个为一组的窗口

第一第二行没数值，NaN

In [42]:
data

            test   sum
2019-12-01     0   NaN
2019-12-02     1   NaN
2019-12-03     2   3.0
2019-12-04     3   6.0
2019-12-05     4   9.0
2019-12-06     5  12.0
2019-12-07     6  15.0
2019-12-08     7  18.0
2019-12-09     8  21.0
2019-12-10     9  24.0
2019-12-11    10  27.0
2019-12-12    11  30.0
2019-12-13    12  33.0
2019-12-14    13  36.0